server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: ride-and-go
  profiles:
    active: local
  docker:
    compose:
      enabled: false

  # POSTGRESQL (R2DBC)
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST:127.0.0.1}:${DB_PORT:5432}/${DB_NAME:yowyob_db}?schema=ride_and_go
    username: ${DB_USERNAME:fleet_admin}
    password: ${DB_PASSWORD:fleet_password}
    pool:
      enabled: true
      initial-size: 1
      max-size: 5
      max-idle-time: 30m
      max-life-time: 10m
      acquire-retry: 3
      max-acquire-time: 30s
      validation-query: SELECT 1

  datasource:
    url: jdbc:postgresql://${DB_HOST:127.0.0.1}:${DB_PORT:5432}/${DB_NAME:yowyob_db}?currentSchema=ride_and_go
    username: ${DB_USERNAME:fleet_admin}
    password: ${DB_PASSWORD:fleet_password}
    driver-class-name: org.postgresql.Driver

# Liquibase
  liquibase:
    enabled: true
    user: fleet_admin
    password: fleet_password
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: ride_and_go # Force Liquibase à travailler dans ce schéma
    liquibase-schema: ride_and_go # Stocke les tables de gestion Liquibase ici aussi
    url: jdbc:postgresql://${DB_HOST:127.0.0.1}:${DB_PORT:5432}/${DB_NAME:yowyob_db}

  sql:
    init:
      mode: never 

  # REDIS CLUSTER 
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:password}
      cluster:
        enabled: false

  # KAFKA 
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    consumer:
      group-id: ride-and-go-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# CUSTOM CONFIG 
application:

  offer:
    search-radius-km: 5.0  # Rayon par défaut pour le matching

  trajectory:
    dump-interval-ms: 600000

  auth:
    mode: remote # 'fake' pour ton dev local, 'remote' pour le serveur réel
    url: https://auth-service.pynfi.com

  fare:
    mode: remote # 'fake' pour ton dev local, 'remote' pour le serveur réel
    url: https://fare-calculator-service.pynfi.com
    api-key: 974e9428-6ce2-48e7-b74b-93f572007ef8
    
  notification:
    mode: http # 'http' ou 'kafka'
    url: https://notification-service.pynfi.com # URL du Swagger fourni
    service-token: "a77599d3-8de7-4d52-b9d0-2202b2e13a9e" # Token récupéré après enregistrement du service
    templates:
      new-offer: 12        # ID template: Nouvelle offre pour les chauffeurs
      driver-applied: 13   # ID template: Un chauffeur a postulé (pour le client)
      driver-selected: 14  # ID template: Vous avez été choisi (pour le chauffeur)
      ride-confirmed: 15   # ID template: Le chauffeur arrive (pour le client)
      ride-cancelled: 16   # ID template: Course annulée
      admin-validation: 17 # ID template: admin a validé le profil du driver

  vehicle:
    url: https://vehicule-service.pynfi.com

  syndicate:
    url: https://ugate.pynfi.com

  payment:
    url: https://payment-service.pynfi.com
    commission-rate: 0.10

  kafka:
    topics:
      notification-service-create-topic: notification-create-topic
      offer-created: offer-created-topic
      offer-send: notification-send-topic

management:
  endpoints:
    web:
      exposure:
        include: ["health","info","prometheus"]
  endpoint:
    health:
      show-details: "always"
      probes:
        enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

# ======================================================
# 2. CONFIGURATION TIMEOUT (Resilience4j)
# ======================================================
resilience4j:
  circuitbreaker:
    instances:

      # Config pour le service de prix
      fare-calculator-service:
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 3

      # Config pour le service auth (si besoin)
      auth-service:
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        slidingWindowSize: 5

      notification-service:
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        slidingWindowSize: 10

  timelimiter:
    instances:
      fare-calculator-service:
        timeoutDuration: 20s  
      auth-service:
        timeoutDuration: 20s